<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
xmlns:gap   = "http://phonegap.com/ns/1.0"
id          = "com.kwetu.zikii"
versionCode = "10"
version     = "1.0.0" >

	<name>Zikii</name>
	
	<description>music for everyone</description>
	
	<author href="https://kwetudesign.co.ke" email="kwetudesign@gmail.com">Antony muthii Assila</author>
	
	<icon src="icon.png" />
	
	<access origin="http://zikii.co.ke/" subdomains="true"/>
	
	<gap:splash src="splash.png" />
	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="winphone" />
	
	
	<gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
	<gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.8" />
	

</widget>